<div id="content" class="outer">
  <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
  <div class="main">
    <ul class="cbp_tmtimeline">
      <li>
        <div class="cbp_tmicon cbp_tmicon-phone">D1</div>
        <div class="cbp_tmlabel">
          <h2>Nov 16, 2020</h2>
          <p>2020 DATA Forum Join a select group of thought leaders from industry and academia to explore how data and people can be effectively combined to enhance organizational change at the DATA Forum.</p>
        </div>
      </li>
      <li>
        <div class="cbp_tmicon cbp_tmicon-screen">D2</div>
        <div class="cbp_tmlabel">
          <h2>Oct 2, 2019</h2>
          <p>Inaugural DATA Forum Join a select group of thought leaders from industry and academia to explore how data and people can be effectively combined to enhance organizational change at the inaugural DATA Forum.</p>
        </div>
      </li>
      <li>
        <div class="cbp_tmicon cbp_tmicon-mail">D3</div>
        <div class="cbp_tmlabel">
          <h2>Sep 24, 2019</h2>
          <p>What is the A.I. Ethics Challenge? Ronald Sandler will discuss his work in AI Ethics and data ethics with the Northeastern University Ethics Institute.</p>
        </div>
      </li>
      <li>
        <div class="cbp_tmicon cbp_tmicon-phone">D4</div>
        <div class="cbp_tmlabel">
          <h2>Sep 23, 2019</h2>
          <p>Data Visualization Challenge Get involved in the data visualization challenge with the D’Amore-McKim School of Business, the City of Boston, and Tableau Software. Register now!</p>
        </div>
      </li>
      <li>
        <div class="cbp_tmicon cbp_tmicon-earth">D5</div>
        <div class="cbp_tmlabel">
          <h2>Mar 19, 2019</h2>
          <p>DATA Initiative Speaker Series with Woodrow Hartzog Woodrow Hartzog, author of Privacy’s Blueprint: The Battle to Control the Design of New Technologies, will discuss the intersection of privacy, media and robotics.</p>
        </div>
      </li>
      <li>
        <div class="cbp_tmicon cbp_tmicon-screen">D6</div>
        <div class="cbp_tmlabel">
          <h2>Mar 12, 2019</h2>
          <p>DATA Initiative Speaker Series with Holly Jarrell Holly Jarrell will discuss the promise and practicalities of leveraging big data within market research.</p>
        </div>
      </li>
    </ul>
  </div>
</div>