<html>
 <head></head>
 <body>
  <div class="listing-block-persons-grid row"> 
   <div id="post-856" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/yakov-bart/"> <img width="520" height="520" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/Y_Bart_520x520.jpg" class="person-line-thumbnail-img wp-post-image" alt="Yakov Bart" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/Y_Bart_520x520.jpg 520w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/Y_Bart_520x520-150x150.jpg 150w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/Y_Bart_520x520-300x300.jpg 300w" sizes="(max-width: 520px) 100vw, 520px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/yakov-bart/"> Yakov Bart </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" />
        <a href="tel:8573277373"> 857.327.7373 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" />
         <a class="person-line-contact-item__email" href="mailto:y.bart@northeastern.edu"> y.bart@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-856 --> 
   <div id="post-1064" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/kwong-chan/"> <img width="520" height="520" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/Kwong_Chan.jpg" class="person-line-thumbnail-img wp-post-image" alt="Kwong Chan" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/Kwong_Chan.jpg 520w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/Kwong_Chan-150x150.jpg 150w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/Kwong_Chan-300x300.jpg 300w" sizes="(max-width: 520px) 100vw, 520px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/kwong-chan/"> Kwong Chan </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a href="tel:6173733260"> 617.373.3260 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:c.chan@northeastern.edu"> c.chan@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-1064 --> 
   <div id="post-18119" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/paolo-ciuccarelli/"> <img width="520" height="520" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2020/05/Paolo-Ciuccarelli_520x520.jpg" class="person-line-thumbnail-img wp-post-image" alt="Paolo Ciuccarelli headshot" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2020/05/Paolo-Ciuccarelli_520x520.jpg 520w, https://damore-mckim.northeastern.edu/wp-content/uploads/2020/05/Paolo-Ciuccarelli_520x520-300x300.jpg 300w, https://damore-mckim.northeastern.edu/wp-content/uploads/2020/05/Paolo-Ciuccarelli_520x520-150x150.jpg 150w" sizes="(max-width: 520px) 100vw, 520px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/paolo-ciuccarelli/"> Paolo Ciuccarelli </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:p.ciuccarelli@northeastern.edu"> p.ciuccarelli@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-18119 --> 
   <div id="post-2874" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/dan-cohen/"> <img width="260" height="260" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/dan_cohen_cssh.jpg" class="person-line-thumbnail-img wp-post-image" alt="Dan Cohen" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/dan_cohen_cssh.jpg 260w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/dan_cohen_cssh-150x150.jpg 150w" sizes="(max-width: 260px) 100vw, 260px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/dan-cohen/"> Dan Cohen </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a href="tel:6173735001"> 617.373.5001 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:d.cohen@northeastern.edu"> d.cohen@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-2874 --> 
   <div id="post-2876" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/matthew-j-eckelman/"> <img width="260" height="260" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/matthew_eckelman.jpg" class="person-line-thumbnail-img wp-post-image" alt="" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/matthew_eckelman.jpg 260w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/matthew_eckelman-150x150.jpg 150w" sizes="(max-width: 260px) 100vw, 260px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/matthew-j-eckelman/"> Matthew J. Eckelman </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a href="tel:6173734256"> 617.373.4256 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:m.eckelman@northeastern.edu"> m.eckelman@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-2876 --> 
   <div id="post-2892" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/brooke-foucault-welles/"> <img width="260" height="260" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/brooke_foucault_welles.jpg" class="person-line-thumbnail-img wp-post-image" alt="Brooke Foucault Welles" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/brooke_foucault_welles.jpg 260w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/brooke_foucault_welles-150x150.jpg 150w" sizes="(max-width: 260px) 100vw, 260px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/brooke-foucault-welles/"> Brooke Foucault Welles </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a href="tel:6173735517"> 617.373.5517 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:b.welles@northeastern.edu"> b.welles@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-2892 --> 
   <div id="post-18117" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/casper-harteveld/"> <img width="520" height="520" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2020/05/casper-harteveld_520x520.jpg" class="person-line-thumbnail-img wp-post-image" alt="Casper Harteveld headshot" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2020/05/casper-harteveld_520x520.jpg 520w, https://damore-mckim.northeastern.edu/wp-content/uploads/2020/05/casper-harteveld_520x520-300x300.jpg 300w, https://damore-mckim.northeastern.edu/wp-content/uploads/2020/05/casper-harteveld_520x520-150x150.jpg 150w" sizes="(max-width: 520px) 100vw, 520px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/casper-harteveld/"> Casper Harteveld </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a href="tel:6173734027"> 617.373.4027 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:c.harteveld@northeastern.edu"> c.harteveld@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-18117 --> 
   <div id="post-2880" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/woodrow-hartzog/"> <img width="260" height="260" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/woodrow_hartzog.jpg" class="person-line-thumbnail-img wp-post-image" alt="" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/woodrow_hartzog.jpg 260w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/woodrow_hartzog-150x150.jpg 150w" sizes="(max-width: 260px) 100vw, 260px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/woodrow-hartzog/"> Woodrow Hartzog </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a href="tel:6173735550"> 617.373.5550 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:w.hartzog@northeastern.edu"> w.hartzog@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-2880 --> 
   <div id="post-13775" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/babak-heydari/"> <img width="520" height="520" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/10/heydari-b.jpg" class="person-line-thumbnail-img wp-post-image" alt="Babak Heydari" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/10/heydari-b.jpg 520w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/10/heydari-b-150x150.jpg 150w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/10/heydari-b-300x300.jpg 300w" sizes="(max-width: 520px) 100vw, 520px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/babak-heydari/"> Babak Heydari </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a href="tel:6173735507"> 617.373.5507 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:b.heydari@northeastern.edu"> b.heydari@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-13775 --> 
   <div id="post-760" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/mark-a-huselid/"> <img width="520" height="520" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/MarkHuselid.jpg" class="person-line-thumbnail-img wp-post-image" alt="Mark Huselid" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/MarkHuselid.jpg 520w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/MarkHuselid-150x150.jpg 150w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/MarkHuselid-300x300.jpg 300w" sizes="(max-width: 520px) 100vw, 520px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/mark-a-huselid/"> Mark A. Huselid </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a href="tel:6173737258"> 617.373.7258 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:m.huselid@northeastern.edu"> m.huselid@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-760 --> 
   <div id="post-13325" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/yael-karlinsky-shichor/"> <img width="520" height="520" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/10/yael-520.jpg" class="person-line-thumbnail-img wp-post-image" alt="" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/10/yael-520.jpg 520w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/10/yael-520-300x300.jpg 300w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/10/yael-520-150x150.jpg 150w" sizes="(max-width: 520px) 100vw, 520px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/yael-karlinsky-shichor/"> Yael Karlinsky Shichor </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a href="tel:6173733260"> 617.373.3260 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:y.karlinsky@northeastern.edu"> y.karlinsky@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-13325 --> 
   <div id="post-13769" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/david-lazer/"> <img width="520" height="520" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/10/PoliSci-Lazer2-web.jpg" class="person-line-thumbnail-img wp-post-image" alt="David Lazer" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/10/PoliSci-Lazer2-web.jpg 520w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/10/PoliSci-Lazer2-web-150x150.jpg 150w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/10/PoliSci-Lazer2-web-300x300.jpg 300w" sizes="(max-width: 520px) 100vw, 520px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/david-lazer/"> David Lazer </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a href="tel:6173731010"> 617.373.1010 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:d.lazer@northeastern.edu"> d.lazer@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-13769 --> 
   <div id="post-13099" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/shun-yang-lee/"> <img width="520" height="520" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/09/shunyanglee_19.jpg" class="person-line-thumbnail-img wp-post-image" alt="shun yang lee" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/09/shunyanglee_19.jpg 520w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/09/shunyanglee_19-150x150.jpg 150w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/09/shunyanglee_19-300x300.jpg 300w" sizes="(max-width: 520px) 100vw, 520px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/shun-yang-lee/"> Shun-Yang Lee </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a href="tel:6173733260"> 617.373.3260 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:sh.lee@northeastern.edu"> sh.lee@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-13099 --> 
   <div id="post-13773" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/daniel-t-obrien/"> <img width="520" height="520" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/10/SPPUA-OBrien2-web.jpg" class="person-line-thumbnail-img wp-post-image" alt="Daniel T. O'Brien" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/10/SPPUA-OBrien2-web.jpg 520w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/10/SPPUA-OBrien2-web-150x150.jpg 150w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/10/SPPUA-OBrien2-web-300x300.jpg 300w" sizes="(max-width: 520px) 100vw, 520px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/daniel-t-obrien/"> Daniel T. O’Brien </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a href="tel:6173738900"> 617.373.8900 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:d.obrien@northeastern.edu"> d.obrien@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-13773 --> 
   <div id="post-631" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/koen-pauwels/"> <img width="520" height="520" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/pauwels_koen121418.jpg" class="person-line-thumbnail-img wp-post-image" alt="Koen Pauwels" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/pauwels_koen121418.jpg 520w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/pauwels_koen121418-150x150.jpg 150w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/pauwels_koen121418-300x300.jpg 300w" sizes="(max-width: 520px) 100vw, 520px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/koen-pauwels/"> Koen Pauwels </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a href="tel:6173733260"> 617.373.3260 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:k.pauwels@northeastern.edu"> k.pauwels@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-631 --> 
   <div id="post-2883" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/imke-reimers/"> <img width="260" height="260" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/imke_reimers.jpg" class="person-line-thumbnail-img wp-post-image" alt="Imke Reimers" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/imke_reimers.jpg 260w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/imke_reimers-150x150.jpg 150w" sizes="(max-width: 260px) 100vw, 260px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/imke-reimers/"> Imke Reimers </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a href="tel:6173732882"> 617.373.2882 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:i.reimers@northeastern.edu"> i.reimers@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-2883 --> 
   <div id="post-1039" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/nada-sanders/"> <img width="194" height="199" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/sanders_nada_18_194x199.jpg" class="person-line-thumbnail-img wp-post-image" alt="" loading="lazy" itemprop="url" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/nada-sanders/"> Nada Sanders </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a href="tel:6173737198"> 617.373.7198 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:n.sanders@northeastern.edu"> n.sanders@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-1039 --> 
   <div id="post-2886" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/ronald-sandler/"> <img width="260" height="260" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/ronald_sandler.jpg" class="person-line-thumbnail-img wp-post-image" alt="" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/ronald_sandler.jpg 260w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/ronald_sandler-150x150.jpg 150w" sizes="(max-width: 260px) 100vw, 260px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/ronald-sandler/"> Ronald Sandler </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a href="tel:6173733619"> 617.373.3619 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:r.sandler@northeastern.edu"> r.sandler@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-2886 --> 
   <div id="post-2889" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/ryan-wang/"> <img width="260" height="260" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/ryan_wang.jpg" class="person-line-thumbnail-img wp-post-image" alt="Ryan Wang" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/ryan_wang.jpg 260w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/ryan_wang-150x150.jpg 150w" sizes="(max-width: 260px) 100vw, 260px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/ryan-wang/"> Qi “Ryan” Wang </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a href="tel:6173737984"> 617.373.7984 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:q.wang@northeastern.edu"> q.wang@northeastern.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-2889 --> 
   <div id="post-2894" class="person-line column " itemscope="" itemtype="https://schema.org/Person"> 
    <div class="person-line-left"> 
     <div class="person-line-thumbnail" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject"> 
      <a class="person-line-thumbnail-link" href="https://damore-mckim.northeastern.edu/people/christo-wilson/"> <img width="260" height="260" src="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/christo_wilson.jpg" class="person-line-thumbnail-img wp-post-image" alt="" loading="lazy" itemprop="url" srcset="https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/christo_wilson.jpg 260w, https://damore-mckim.northeastern.edu/wp-content/uploads/2019/01/christo_wilson-150x150.jpg 150w" sizes="(max-width: 260px) 100vw, 260px" /> </a> 
     </div> 
     <!-- .person-line-thumbnail --> 
    </div> 
    <div class="person-line-content"> 
     <h3 class="person-line-name"> <a class="person-line-name-link" href="https://damore-mckim.northeastern.edu/people/christo-wilson/"> Christo Wilson </a> </h3> 
     <ul class="person-line-contact-info"> 
      <li class="person-line-contact-item"> 
        <img src="/images/phone.svg" width="20" height="20" /> <a href="tel:6173738802"> 617.373.8802 </a> </li> 
      <li class="person-line-contact-item"> 
        <img src="/images/email.svg" width="20" height="20" /> <a class="person-line-contact-item__email" href="mailto:cbw@ccs.neu.edu"> cbw@ccs.neu.edu </a> </li> 
     </ul> 
    </div> 
    <!-- .person-line-content --> 
   </div> 
   <!-- .person-line.post-2894 --> 
  </div>
 </body>
</html>